.FilterLink {
  color: grey;
  font-size: 11.5px;
  padding: 0.225rem 0.515rem;
  text-transform: uppercase;
  font-family: "Roboto Slab", sans-serif;
}

.FilterLink:disabled {
  color: #00f;
  background-color: #fafafa;
}
