.no-spacing {
  padding: 0;
  margin: 0;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
}

.list-wrapper {
  background: #202070;
}

/* form */

form {
  width: 100%;
}

/* form heading && field-wrap */

.field-wrap {
  gap: 10px;
}

.heading-wrapper {
  background: blue;
}

.heading-wrapper,
.field-wrap {
  justify-content: space-between;
}

.heading-wrapper h1 {
  font-size: 20px;
}

.heading-wrapper i {
  transform: rotate(90deg);
}

.field-wrap button {
  transform: rotate(90deg);
  background: none;
  color: grey;
}

/* list-container-container */

.list-container {
  width: 100%;
  gap: 2px;
}

.list-container li {
  gap: 10px;
  background: #202060;
}

li.item-focus {
  background: orangered;
}

.item-focus .task-desc::placeholder {
  color: inherit;
}

.task-desc {
  font-size: 15px;
  line-height: 24px;
  width: 100%;
}

.fulfilled .task-desc {
  text-decoration: line-through;
  text-decoration-color: greenyellow;
}

button {
  padding: 0;
  border: none;
  cursor: pointer;
}

li button {
  cursor: move;
}

li button {
  background: none;
}

button:focus {
  border: none;
}

button.fa-trash {
  cursor: pointer;
}

.list-clear-btn {
  padding: 15px 5px;
  width: 100%;
  background-color: purple;
}

.list-clear-btn:disabled {
  cursor: not-allowed;
  background-color: blue;
  opacity: 0.1;
}

input[type='text'] {
  box-sizing: border-box;
  border: none;
  width: 100%;
  padding: 5px;
  background: none;
}

input[type='text']::placeholder {
  color: rgba(245, 245, 245, 0.753);
}

input[type='text']:focus {
  outline: none;
  border: none;
}

input[name='desc']::placeholder {
  font-style: italic;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  caret-color: white;
  -webkit-text-fill-color: whitesmoke;
  box-shadow: 0 0 0 1000px #202070 inset;
  -webkit-box-shadow: 0 0 0 1000px #202070 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.row {
  padding: 10px 15px;
  border-bottom: 1px solid #20202025;
}
